<h1><%= @chat_room.title %></h1>

<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>
개설자: <%= @chat_room.user.name %><br>
참가자: <%= @user2 %>

<hr>
<%= form_for @message, url: '#' do |f| %>
  <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
  <div class="form-group">
    <%#= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">2글자 ~ 1000글자</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>

<script>
  $('#message_body').keypress(function (e) {
  if (e.which == 13) {
    $('form#new_message').submit();
    return false;
  }
  });
</script>
